{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<h2>Homepage</h2>
  <p>Hello {{ user.username }}!</p>

  <div class="row">
  {% for event in events %} 
    <div class="col-md-4">
      <div class="card" style="width: 22rem;">
        <img class="card-img-top" width="" height="300" src="{{event.poster.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text" style="align-items: center;">
            <b>Venue</b>: {{event.venue}}<br />
            <h5>DressCode</h5> {{event.dressCode}}<br />
            <b>ticketFee</b> {{event.ticketFee}}/=<br />
            <b>paybillNumber</b> {{event.paybillNumber}}<br />
            <b>Guest of honor</b> {{event.GOH}}<br />
            <b>MC</b> {{event.MC}}<br />
            <b>Date</b> {{event.Date}}<br />
          </p>
          <div class="row">
            <div class="col-md-6">
              <a href="/event/{{event.id}}"><button type="button" class="btn btn-outline-dark"> View Event </button></a>
              
            </div>
            
            <div class="col-md-6">
              <a href="#"><button type="button" class="btn btn-outline-dark"> But Ticket </button></a>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

















  {% endblock  %}
